/* CSS for TP10 */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#temp {
  background: #2f4f4f;
  width: 100%;
  height: 60vw;
  position: relative;
  font-family: 'Roboto Condensed', sans-serif;
}

#location {
  color: #E6E6FA;
  font-size: 50px;
}

#tempF {
  color: #E6E6FA;
  font-size: 50px;
  
}

#windD {
  color: #E6E6FA;
  font-size: 50px;
}

#windS {
  color: #E6E6FA;
  font-size: 50px;
}

#cloud {
  color: #E6E6FA;
  font-size: 50px;
}

#humidity {
  color: #E6E6FA;
  font-size: 50px;
}

h2 {
  color: white;
}